hydralit-components==1.0.10
requests
streamlit_lottie
plotly
snowflake-snowpark-python
numpy==1.26.4
streamlit-card
st-annotated-text==4.0.1
st_card_component
streamlit_option_menu
tk
PythonTurtle
SQLAlchemy
snowflake-sqlalchemy